.header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f4f4f4;
    height: 90px;
    z-index: 10000;
}

.links {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        margin: 0 0.5rem;
        background: rgba(38, 73, 226, 0.2);
        border-radius: 20px;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        text-transform: capitalize;
        color: #000;
        text-decoration: none;
    }
}

.logo {
    background-color: #2649e2;
    border-radius: 4px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 0.2rem 0.5rem;
    box-sizing: border-box;

    a {
        color: #fff;
        font-weight: 300;
        font-size: 1rem;
        text-transform: capitalize;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before {
            content: "+";
            font-size: 2rem;
            margin-right: 0.5rem;
        }
    }
}