.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #2649e2;
    border-radius: 6px;
    padding: 2rem;
}

.programs_container {
    display: flex;
    padding: 0.1rem 1rem;
    overflow: hidden;
}

.program_info_container {
    display: flex;
}

.studies_container {
    display: flex;
}